*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFCE1F;
    color: #3E4251;
}

button:hover{
    transform: scale(1.03);
}

.content{
    height: 100vh;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.game{
    height: calc(100% - 100px);
    width: 100%;
}

.choice{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.big-picture{
    max-height: 95%;
    margin: 10px 5%;
}

.big-picture img{
    height: calc(100% - 40px);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.gamelog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.button-container{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    width: 100px;
    height: 100px;
    margin: 25px;
}

.button button{
    cursor: pointer;
    border: none;
    background:#FFE070;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

#rock{
    background-image: url(images/rock.svg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

#paper{
    background-image: url(images/paper.svg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

#scissors{
    background-image: url(images/scissors.svg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.start-game-text{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game-start .button{
    height: 30px;
    width: 180px;
    margin: auto
}

.game-start button{
    background-color: #86CD82;
}

.playerSelected{
    border: 3px solid blue;
    border-radius:20px;
    transition: 100ms;
    transform: scale(1.1);
}

